@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --ozo-green: #0057B0;
}

/* * {
  font-family: 'Poppins', sans-serif;
} */

.product-image{
  transition-duration: 10000ms;
  transition-timing-function: ease-out;
}

.product-container:hover{
  background-image: linear-gradient(to top, var(--ozo-green), rgba(0,0,0,0));
  transition-duration: 1000ms;
}

.logo-font {
  font-family: 'Josefin Sans', sans-serif;
}

body{
  scrollbar-width: thin;
}


.nav-item::after{
  content: "";
  display: block;
  width: 100%;
  scale: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
  margin-bottom: 5px;
}

.nav-item:hover::after{
  scale: 1;
  transition: all 200ms;
  align-self: center;
}
.nav-item-green{
color: var(--ozo-green);
}

.nav-item-green::after{
content: "";
display: block;
width: 100%;
scale: 0;
height: 2px;
background: var(--ozo-green);
transition: width .3s;
margin-bottom: 5px;

}

.nav-item-green:hover::after{
scale: 1;
transition: all 200ms;
align-self: center;
}